body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    flex-direction: column;
}

.slideshow {
    margin: 0 auto;
}

.slide {
    display: none;
    position: relative;
}
.slide__inner {
    position: relative;
}
.slide img {
    width: 1000px;
    height: 600px;
    vertical-align: middle;
    transition: all linear .3s;
}

.slide__nav:hover {
    background-color: rgba(0, 0, 0, .8);
}

.slide__nav {
    position: absolute;
    color: #fff;
    top: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all linear .3s;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .8);
}

.description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    padding: 15px;
    font-size: 35px;
}

.slide__prev {
    left: 10px;
}

.slide__next {
    right: 10px;
}

.slide__img-content {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
}

.slide__img-item {
    width: 150px;
    height: 100px;
    margin-top: 50px;
    transition: all linear .3s;
}
.active,
.slide__img-item:hover {
    border: 3px solid crimson;
}
